.note_content {
  border: 2px solid rgb(176, 170, 170);
  box-shadow: 0px 4px 20px 0px #00000040;

  margin: 10px;
  background-color: white;
}

.content div {
  /* border: 2px solid rgb(18, 224, 90); */
  margin: 10px;
  font-size: 12px;
  font-weight: 600;
}
.date_time {
  display: flex;
  /* border: 2px solid rgb(230, 7, 85); */
  justify-content: end;
}
.date {
  /* border: 2px solid green; */
  margin: 10px;
  font-weight: 600;
  font-size: 13px;
}
.time {
  /* border: 2px solid yellow; */
  margin: 10px;
  font-weight: 600;
  font-size: 13px;
}
.date_time span {
  font-weight: 1000;
  /* border: 2px solid black; */
}
